---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="Test">
  <section class="container flex grow flex-col">
    <div class="flex grow flex-col items-center justify-center">
      <h1 class="text-[4rem] font-bold">Astro quickstart</h1>
    </div>
  </section>
</Layout>
