---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="Test">
	<main class="flex flex-col justify-evenly items-center mx-auto w-1/2 h-screen content-stretch">
		<div class="flex flex-col items-center w-full">
			<h1 class="pb-10 font-bold text-[4rem]">Astro quickstart</h1>
		</div>
	</main>
</Layout>
