---
import { ThemeToggle } from "@/components/theme-toggle";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav"> {}

const { class: className, ...rest } = Astro.props;
---

<nav class={cn(className)} {...rest}>
  <div class="container mx-auto px-6 py-3">
    <div class="flex items-center justify-between">
      <div>
        <a class="text-xl font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300" href="/">
          Quickstart
        </a>
      </div>
      <div class="flex items-center -mx-2">
        <a class="mx-2 text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300" href="/about">
          About
        </a>
        <a class="mx-2 text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300" href="/contact">
          Contact
        </a>
        <a class="mx-2 text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300" href="/subscribe">
          Subscribe
        </a>
        <ThemeToggle client:only="solid-js" />
      </div>
    </div>
  </div>
</nav>
